<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1>Angular crud</h1>
    <div class="d-flex">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
        employee</button>
    </div>
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Employee Id</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email Id</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Salary</th>
      <!-- <th scope="col">Technology</th>
      <th scope="col">Rating</th> -->
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of employeeData">
      <td>{{row.id}}</td>
      <td>{{row.firstName}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.email}}</td>
      <td>{{row.mobileNumber}}</td>
      <td>{{row.salary}}</td>
      <!-- <td>{{row.technology}}</td>
      <td>{{row.rating}}</td> -->
      <!-- <td>{{row.action}}</td> -->



      <td>
        <button (click)="onEdit(row)"class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
        <button class="btn btn-danger mx-3" (click)="delteEmployee(row)">Delete</button>
      </td>

</table>


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <form [formGroup]="registerForm">

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">FirstName</label>
            <input type="text" placholder="firstName" class="form-control" id="exampleInputPassword1"
              formControlName="firstName">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">LastName</label>
            <input type="text" placholder="lastName" class="form-control" id="exampleInputPassword1"
              formControlName="lastName">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="text" placholder="email" class="form-control" id="exampleInputPassword1"
              formControlName="email">
          </div>



          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">MobileNumber</label>
            <input type="number" placholder="mobileNumber" class="form-control" id="exampleInputPassword1"
              formControlName="mobile">
          </div>


          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Salary</label>
            <input type="text" placholder="salary" class="form-control" id="exampleInputPassword1"
              formControlName="salary">
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Technology</label>
            <input type="text" placholder="salary" class="form-control" id="exampleInputPassword1"
              formControlName="technology">
          </div>

          <label>Rating</label><br>
          <select formControlName="rating">
            <option >Select</option>
              <option *ngFor="let item of this.ratingList;let i = index" value="{{item.rating}}" [selected]="i == 0"class="rating">
                {{item.code}}
              </option>
            </select>


          <div formArrayName="items" *ngFor="let form of registerForm.get('items').controls;let i = index;">
            <div [formGroupName]="i">

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Technology</label>
              <input type="text" placholder="salary" class="form-control" id="exampleInputPassword1"
                formControlName="technology">
            </div>

            <label>Rating</label><br>
            <select formControlName="rating">
              <option>Select</option>
                <option *ngFor="let item of this.ratingList;let i = index" value="{{item.rating}}" [selected]="i == 0"class="rating">
                  {{item.code}}
                </option>
              </select>
            </div>
          </div>



          <button type="submit" class="btn btn-primary sub" (click)="onSubmit()">Submit</button>



          <div class="image-upload">
            <img [src]="imageSrc" style="max-width:300px;max-height:300px" />
            <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)" />
          </div>

         

        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onpost()">Add</button>
        <button type="button" class="btn btn-primary">Close</button>
        <button (click)="arrayClick()">Adding extras</button>

      </div>


    </div>
  </div>
</div>

